!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Pennterest
    link(rel='stylesheet', type='text/css', href='stylesheets/login.css')
  body
    #wrapper
      h1 Pennterest
      #container
        section.tabs
          input#tab-1.tab-selector-1(type='radio', name='radio-set')
          span.tab-label-1(for='tab-1') Signup
          input#tab-2.tab-selector-2(type='radio', name='radio-set', checked='checked')
          span.tab-label-2(for='tab-2') Login
          .clear-shadow
          #content
            .content-1
              form(action='/signup',name='signupform', autocomplete='on',method='post')
                p
                  label.uname(for='usernamesignup', data-icon='u') Your username
                  input.field(name='usernamesignup', type='text', placeholder='myusername')
                p
                  label.youmail(for='emailsignup', data-icon='e') Your Email
                  input.field(name='emailsignup', type='email', placeholder='myusername@gmail.com') 
                p
                  label.youpasswd(for='passwordsignup', data-icon='p') Your password 
                  input.field(name='passwordsignup', type='password', placeholder='mypassword')
                p
                  label.youpasswd(for='passwordsignup_confirm', data-icon='p') Please confirm your password 
                  input.field(name='passwordsignup_confirm', type='password', placeholder='mypassword')
                p.signin.button
                  input(type='checkbox', required='required')
                  | I agree with terms and conditions
                  input(type='submit', value='Sign up')
                p
                  | #{title}
                
            .content-2
              form(action='/login', name='loginform',autocomplete='on',method ='post')
                p
                  label.uname(for='email', data-icon='u')  Your email 
                  input.field(name='email', type='text', placeholder='myusername@gmail.com')
                p
                  label.youpasswd(for='password', data-icon='p')  Your password 
                  input.field(name='password', type='password', placeholder='mypassword')
                p.keeplogin
                  input(type='submit', value='Login')
                p
                  | #{title1}  
